@import url('./login.css');
@import url('./menu.css');
@import url('./welcome.css');

.form-control-and-warning {
  display: flex;
  align-items: center;
}
.form-control-and-warning :first-child {
  margin-right: 8px;
}
.form-control-and-warning .warning-text {
  font-size: 80%;
}

form {
  height: 100%;
  width: 100%;
}
