#page-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#page-menu > * {
  margin-bottom: 12px;
}

#page-menu hr {
  width: 80%;
}

.menu-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
