#page-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button {
  width: 256px;
  height: 48px;
  margin-bottom: 32px;
  font-size: 20px;
}
