@import url('./widgets/_index.css');
@import url('./styles/_index.css');
@import url('./pages/_index.css');

@import url('./index.css');

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 9;
}

.very-large-button {
  width: 256px;
  height: 48px;
  font-size: 20px;
}

.warning-text {
  color: #cf2424;
}
