@import url('./widgets/_index.css');
@import url('./styles/_index.css');
@import url('./pages/_index.css');

@import url('./index.css');

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.very-large-button {
  width: 256px;
  height: 48px;
  margin-bottom: 32px;
  font-size: 20px;
}
