#widget-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header-col {
  width: 33%;
  display: flex;
}

#widget-header > *:first-child {
  justify-content: flex-start;
}

#widget-header > *:nth-child(2) {
  justify-content: flex-start;
  font-weight: bold;
  justify-content: center;
}

#widget-header > *:last-child {
  /* NOTE: Reverse ordering so that the elements are right aligned */
  justify-content: flex-start;
  flex-direction: row-reverse;
}
