#widget-keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 16px #3333332f;
  cursor: pointer;
}

.keypad-row {
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

.keypad-key {
  width: 64px;
  height: 48px;
  margin: 4px 12px;
  border: 3px solid #888;
  border-width: 1px 2px 6px 2px;
  box-shadow: 0 0 8px 1px #00000080;
  font-weight: bold;
  font-size: 42px;
  color: #595959;
  text-shadow: -1px 1px 12px #888;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  /* https://uigradients.com/#Zinc */
  background: linear-gradient(to top right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);

}

.keypad-key-enter {
  background: #5b5;
  color: #333;
  text-shadow: 0 0 2px #33333388;
  padding: 0;
  font-size: 22px;
}

.keypad-key-clear {
  background: #dbc01a;
  color: #333;
  text-shadow: 0 0 2px #33333388;
  padding: 0;
  font-size: 22px;
}

.keypad-key-delete {
  background: #d64747;
  color: #333;
  text-shadow: 0 0 2px #33333388;
  padding: 0;
  font-size: 22px;
}
